<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.icipe.epfa.EPFA">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.icipe.epfa.mapping.MappingPerspectiveFactory"
            icon="icons/mapping-16.png"
            id="org.icipe.epfa.MappingPerspective"
            name="Mapping Perspective">
      </perspective>
      <perspective
            class="org.icipe.epfa.ModelBuilderPerspectiveFactory"
            icon="icons/Mortality-16.png"
            id="org.icipe.epfa.modelBuilderPerspective"
            name="Model Designer Perspective">
      </perspective>
      <perspective
            class="org.icipe.epfa.autoDissemination.AutoDisseminationPerspectiveFactory"
            icon="icons/Autodiss-16.png"
            id="org.icipe.epfa.AutoDisseminationPerspective"
            name="AutoDissemination Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.icipe.epfa.MappingPerspective">
         <actionSet
               id="net.refractions.udig.project.ui.layer.menu">
         </actionSet>
         <actionSet
               id="net.refractions.udig.project.ui.map.menu">
         </actionSet>
         <actionSet
               id="net.refractions.udig.project.ui.LayerActions">
         </actionSet>
         <actionSet
               id="net.refractions.udig.catalog.ui.data.menu">
         </actionSet>
         <actionSet
               id="org.icipe.epfa.mapping.actionSetMappingTask">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.icipe.epfa.modelBuilderPerspective">
         <actionSet
               id="org.icipe.epfa.modelDesigner.actionSetModelDesign">
         </actionSet>
         <view
               id="org.icipe.epfa.project.view1"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.icipe.epfa.AutoDisseminationPerspective">
         <actionSet
               id="org.icipe.epfa.autoDissemination.actionSetAutodissemination">
         </actionSet>
         <view
               id="org.icipe.epfa.project.view1"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="EPFA"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.icipe.epfa.id1"
            name="EPFA">
         <property
               name="appName"
               value="EPFA">
         </property>
         <property
               name="aboutImage"
               value="nl/en/about.gif">
         </property>
         <property
               name="aboutText"
               value="EPFA software&#x0A;&#x0A;Version: 1.0&#x0A;&#x0A;(c) International Center of Insect Physilogy and Ecology.  All rights reserved.&#x0A;Visit http://www.icipe.org/&#x0A;&#x0A;This product was founded by  the Volkswagen Foundation under the funding initiative Knowledge for Tomorrow - Cooperative Research Projects in Sub-Saharan on Resources, their Dynamics, and Sustainability – Capacity Development in Comparative and Integrated Approaches. &#x0A;The authors thank the Federal Ministry for Economic Cooperation and Development (BMZ), Germany that provided the financial support through Tuta IPM project, the German Academic Exchange Service (DAAD) and the STRIVE project funded by the German Federal Ministry of Education and Research.&#x0A;&#x0A;EPFA software site http://www.softwareSite.org">
         </property>
         <property
               name="windowImages"
               value="icons/EPFA16.gif,icons/EPFA32.gif,icons/EPFA48.gif,icons/EPFA64.gif,icons/EPFA128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,245,450,30">
         </property>
         <property
               name="startupProgressRect"
               value="5,271,500,25">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
